@charset "UTF-8";
/* CSS Document */

body {
    color: blue;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    background-color: white;
}
