/* CSS Reset Properties */

body,main,article,section,header,footer {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}
nav a {
    flex-grow: 1;
    text-align: center;
    color: white;
    text-decoration: none;
    border: white 2px solid;
    padding: 5px;
}
nav a:hover {
    color: black;
    background-color: white;
}

body {
    padding: 100px;
    font-size: 16px;
    background-color: black;
    color: white;
}
section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}


/* individual class for section background images */

.em {
    background-image: url(../images/03.jpg);
    border: solid darkorange 1em;
    font-size: 1.2em;
}

.rem {
    background-image: url(../images/02.jpg);
    border: dotted darkred .5rem;
}

.percent {
    background-image: url(../images/01.jpg);

}
.percent p {
    width: 75%;
}
.box {
    background-image: url(../images/04.jpg);
    box-sizing: border-box;
    border: solid dodgerblue 1.8em;
}

.vw {
    background-image: url(../images/05.jpg);
    border: dashed 1vw;
    box-sizing: border-box;
    font-size: 1vw;
}

.hero {
    background-image: url(../images/06.jpg);
    margin: auto;
    border-top-right-radius: 2em;
    border: solid white 3px;
}

.hero p {
    width: 50%;
    margin: 10px;
}

