body {
    background-color: #7ec2fd;
}

.stew-content {
    background-color: #cccccc;
    padding:10px;
    margin:auto;
}

h1,h2,h3 {
    color:#805E28
}

footer {
    background-color: #d29635;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    clear:both;
    padding-left: 5px;
}